@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cabin', sans-serif;
}

.contact-info {
    background: #355e3b;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    color: #fff;
}

.contact-info .contact-method:nth-child(2) {
    margin-top: 15px;
}

.contact-info .contact-method {
    display: flex;
    margin: 5px 20px;
}

.contact-info p:first-child {
    font-weight: bold;
    margin-left: 25px;
}

.contact-info p {
    margin: 3px 10px;
}

.contact-info .social-icons i {
    font-size: 1.5rem;
    margin-left: 20px;
}

.container {
    max-width: 1280px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

/** NAVBAR **/
.main-navbar {
    background-color: #ffffff;
}

.main-navbar .contents {
    display: flex;
    height: 100px;
    align-items: center;
}

.main-navbar .brand img {
   width: 45%;
}

 .main-navbar .menu {
    flex-grow: 1;
    width: 100px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: flex-end;
}

.main-navbar .menu img {
    width: 40px;
    height: 40px;
    padding: 5px;
    z-index: 999;
    position: absolute;
    border-radius: 50%;
    background-color: #fbffff;
    transition: left 0.4s ease-in-out;
}

.main-navbar .menu img:last-child {
    opacity: 0;
}

.main-navbar .toggle .menu img:first-child {
    opacity: 0;
}
  
  .main-navbar .toggle .menu img:last-child {
    opacity: 1;
}

.main-navbar ul {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: -100vw;
    list-style: none;
    padding-top: 150px;
    position: absolute;
    text-align: center;
    background-color: #fff;
    transition: left 0.4s ease-in-out;
    font-family: 'Cabin', sans-serif;
    z-index: 1;
}

.toggle ul {
    left: 0;
}

.main-navbar ul li {
    margin-bottom: 10px;
}

.main-navbar ul li a {
    color: #6e260e;
    display: block;
    font-size: 24px;
    padding: 10px 0;
    text-decoration: none;
}

@media (min-width: 768px) {
    .contact-info {
        flex-direction: row;
        align-items: center;
        padding: 15px;
        justify-content: space-between;
    }

    .contact-container {
        display: flex;
        flex-direction: row;
    }

    .contact-info .contact-method:nth-child(2) {
        margin-top: 0;
    }

    .contact-info .contact-method {
        margin: 0;
    }

    .contact-info .social-icons {
        margin-right: 50px;
    }

    .main-navbar .menu {
      display: none;
    }
  
    .main-navbar ul {
      display: flex;
      padding-top: 0;
      position: initial;
      text-align: left;
      align-items: center;
      justify-content: flex-end;
      background-color: transparent;
    }
  
    .main-navbar ul li {
      margin-bottom: 0;
    }
  
    .main-navbar ul li:not(:last-child) {
      margin-right: 5px;
    }
  
    .main-navbar ul li a {
      color: #6e260e;
      padding: 50px 20px;
      display: inline-block;
    }
}

@media (min-width: 500px) {
    .main-navbar .brand img {
        width: 25%;
    }
} 

@media (min-width: 768px) {
    .main-navbar .brand img {
        width: 55%;
    }
}

@media (min-width: 850px) {
    .main-navbar .brand img {
        width: 35%;
    }
}

 /** HEADER **/
header {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../img/bg.jpg') no-repeat center center/cover fixed;
    height: 100vh;
    position: relative;
}

header .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .header-text h1,
header .header-text h3 {
    color: #fff;
    font-weight: 500;
}

header .header-text h1 {
    font-size: 5rem;
    font-family: 'Roboto Slab', serif;
}

header .header-text h3 {
    font-size: 1.5rem;
    text-align: center;
}

header .line {
    background: #fff;
    width: 75%;
    height: 3px;
    margin: 25px auto;
    border-radius: 5px;
}

@media (max-width: 1280px) {
    header .header-text h1 {
        font-size: 4rem;
    }
}

@media (max-width: 1024px) {
    header .header-text h1 {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    header .header-text h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 600px) {
    header .header-text h1 {
        font-size: 1.4rem;
    }
}
/** BAR **/
.bar {
    background: #355e3b;
    padding: 15px;
}

.bar p {
    color: #fff;
    text-align: center;
}

/** ABOUT SECTION **/
#about {
    background: #fff;
    padding: 50px 100px;
}
#about .about-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .about-heading .line {
    width: 25%;
    height: 3px;
    border-radius: 5px;
    background: #000;
}

#about .about-heading h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    font-weight: 300;
    margin: 0 25px;
    color: #6e260e;
}

#about h4 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 25px;
    font-weight: 300;
}

.about-body {
    margin-top: 25px;
}

.about-body p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 25px;
    line-height: 25px;
}

@media (max-width: 1024px) {
    #about .about-heading h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 820px) {
    #about .about-heading h1 {
        font-size: 1.7rem;
    }
}

@media (max-width: 600px) {
    #about {
        padding: 50px 25px;
    }

    #about .about-heading .line {
        width: 25%;
    }

    #about .about-heading h1 {
        font-size: 2rem;
        text-align: center;
    }
}

/** FEATURED SECTION **/
#featured-cabins {
    padding: 50px 25px;
    background: #fff;
}

#featured-cabins h1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    font-weight: 300;
}

#featured-cabins h3 {
    text-align: center;
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 300;
}

#featured-cabins .container {
    position: relative;
    width: 1200px;
    height: 870px;
    margin: 50px auto 0;
}

#featured-cabins .container .box {
    position: relative;
    width: calc(400px - 40px);
    height: calc(300px - 40px);
    background: #000;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

#featured-cabins .container .box:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleX(0);
    opacity: 0;
    z-index: 1;
}

#featured-cabins .container .box:hover:before {
    transform: scaleX(1);
    opacity: 1;
}

#featured-cabins .container .box:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleY(0);
    opacity: 0;
    z-index: 1;
}

#featured-cabins .container .box:hover:after {
    transform: scaleY(1);
    opacity: 1;
}

#featured-cabins .container .box .imgBox {
    position: relative;
}

#featured-cabins .container .box .imgBox img {
    width: 100%;
    transition: 0.5s;
}

#featured-cabins .container .box:hover .imgBox img {
    opacity: .2;
    transform: scale(1.2);
}

#featured-cabins .container .box .content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

#featured-cabins .container .box .content a {
    text-decoration: none;
}

#featured-cabins .container .box .content h2 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-50px);
    opacity: 0;
}

#featured-cabins .container .box .content p {
    margin: 0;
    padding: 0;
    color: #fff;
    transition: 0.5s;
    transform: translateY(50px);
    opacity: 0;
}

#featured-cabins .container .box:hover .content h2,
#featured-cabins .container .box:hover .content p {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.2s;
}

@media (max-width: 1024px) {
    #featured-cabins .container {
        width: 940px;
        height: 700px;
    }

    #featured-cabins .container .box {
        width: calc(300px - 30px);
        height: calc(225px - 32px);
    }
}

@media (max-width: 820px) {
    #featured-cabins .container {
        width: 640px;
        height: 1125px;
    }
}

@media (max-width: 600px) {
    #featured-cabins {
        padding: 50px 5px;
    }

    #featured-cabins .container {
        width: 335px;
        height: 2000px;
    }
}

/** LINKS SECTION **/
#links {
    padding-top: 50px;
    background: #fff;

}

#links h1 {
    font-size: 2rem;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    text-align: center;
}

#links h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 15px;
}

.link-images {
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(img/wall.jpg)center/cover fixed no-repeat;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.link-images a {
    background: rgba(255, 255, 255, 0.3);
    margin: 25px auto;
    padding: 5px 0;
    border: 5px solid #355e3b;
    border-radius: 5px;
    transition: 0.3s ease-in;
}

.link-images img {
    display: block;
    margin: 0 auto;
    width: 60%;
}

.link-images a:hover {
    background: #ccc;
}

@media (max-width: 1280px) {
    .link-images a {
        width: 400px;
    }
}

@media (max-width: 1024px) {
    .link-images a {
        width: 300px;
    }
}

@media (max-width: 600px) {
    #links h3 {
        padding: 0 5px;
    }
}

/** FOOTER SECTION **/
#footer {
    padding: 15px 25px;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer img {
    width: 10%;
}

.footer-icons {
    text-align: center;
}

.footer-icons i {
    font-size: 1.8rem;
    margin: 0 10px;
    color: #002e01;
}

.footer-contact h4 {
   font-size: 1.1rem;
   color: #002e01;
}

.footer-contact-method {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.footer-contact-method i {
    color: #002e01;
}

.footer-contact-method p {
    margin-left: 10px;
    font-size: 1.1rem;
    color: #002e01;
}

.footer-bottom { 
    background: #355e3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}

.footer-bottom p {
    font-size: 1.1rem;
}

.footer-bottom a {
    color: #ccc;
    text-decoration: none;
    
}
  
@media (max-width: 2000px) {
    #footer img {
        width: 8%;
    }


@media (max-width: 1500px) {
    #footer img {
        width: 10%;
    }
}

@media (max-width: 1000px) {
    #footer img {
        width: 12%;
    }
}


@media (max-width: 820px) {
    #footer img {
        width: 15%;
    }
}



@media (max-width: 600px) {
    #footer {
        padding: 15px 0;
    }

    .footer-icons i {
        font-size: 2rem;
    }

    .footer-section {
        flex-direction: column;
    }

    #footer img {
        width: 55%;
        margin: 25px 0;
    }

    .footer-bottom {
        flex-direction: column;
        padding: 10px 25px;
    }

    .footer-bottom p {
        margin: 3px 0;
    }
}

/*BACK TO TOP BUTTON */
.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 50%;
    background: #003300;
    padding: 10px;
    border: none;
    cursor: pointer;
    opacity: 100%;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.back-to-top i {
    position: relative;
    font-size: 19px;
    color: #fff;
    top: 0;
    transition: top ease 0.5s;
}

.back-to-top:hover i {
    top: -10px;
}

.hidden {
    opacity: 0;
}

@media (max-width: 820px) {
    .back-to-top {
        right: 1rem;
    }
}

  